{% extends "base.html"%}
    {% block nav %}
    <nav class="barraMenu">
        <div class="menuPrincipal collapse navbar-collapse" id="navbarNav">
            <ul class="ulMenuPrincipal">
                <li class="liMenuPrincipal">
                    <a class="linkMenu active" aria-current="page" href="#">Principal <span>&rarr;</span></a>
                    <ul class="item-2">
                        <li> <a class="linkMenu active" aria-current="page" href="#">prueba</a></li>
                        <li>reprueba</li>
                    </ul>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="#">Features</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu" href="/configuracion/cultivos_listar">Cultivos</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu " href="/accounts/login/">Login</a>
                </li>
                <li class="liMenuPrincipal">
                    <a class="linkMenu " href="/configuracion/gestionar_img_galeria_principal">Galeria Imag</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
