{% extends "base.html"%}
    {% block nav %}
    <nav class="barraMenu">
    
        <ul class="hList">
            {%for me in menu %}
             {% if me.0.tag == "<a>" %}
                  <a href="{{me.0.href}}" class="{{me.0.class}}">{{me.0.descripcion}}
                {% elif  me.0.tag == "</a>" %}
                  </a>
                {% elif  me.0.tag == "<li>" %}
                  <li>
                {% elif  me.0.tag == "</li>" %}
                  </li>
                {% elif  me.0.tag == "<h2>" %}
                  <h2 class="{{me.0.class}}">{{me.0.descripcion}} </h2>
                {% elif  me.0.tag == "<ul>" %}
                    <ul class="{{me.0.class}}"> 
                {% elif  me.0.tag == "</ul>" %}
                    </ul> 
                {% elif  me.0.tag == "<div>" %}
                  <div class="{{me.0.class}}"> 
                {% elif  me.0.tag == "</div>" %}
                  </div> 
                {% endif%}
  
            {%endfor%}
          </ul>  
        </nav>
          
    {% endblock %}
