{% extends "base_nav.html"%}
{% block title %} Registro para Huertas {% endblock %}
{% block body %}     
{% load static %} 
<section class="imgCabecera">
<img src="{% static 'img/imgCabecera.png' %}  " class="imgCab"></img> 


</section>

    <h2> Una aplicación para facilitar su planificación en la huerta</h2>

    <div class="contenedor-galeria">
        <div class="galeria">
            <div class="contenedor-imagen">
                <figure>
                    <img src="anco.jpg">
                </figure>
            </div>
            <div class="contenedor-imagen">
                <figure>
                    <img src="*URL de tu imagen aquí*">
                </figure>
            </div>
            <div class="contenedor-imagen">
                <figure>
                    <img src="*URL de tu imagen aquí*">
                </figure>
            </div>
            <div class="contenedor-imagen">
                <figure>
                    <img src="*URL de tu imagen aquí*">
                </figure>
            </div>
        </div>
    </div>

{% endblock %}