{% extends "base.html"%}
{% block title %} Autenticarse {% endblock %}
{% load static %}
{% block style %} 
    <link rel='stylesheet' href="{% static 'css/login.css' %}" type="text/css">
 {% endblock %}
{% block body %} 
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form class="form" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form.as_p}}
    <button type="submit">enviar</button>
</form>
{% endblock %}  