{% extends "baseConfiguracion.html"%}
{% block title %} List. Enfermedades {% endblock %}
{% load static %}
{% block style %} 
    <link rel='stylesheet' href="{% static 'css/huertas.css' %}" type="text/css">
 {% endblock %}
 
{% block body %} 
{% load static %}
<div class="row">
    <div class="alertas">
        {% if messages %}
        {% for message in messages %}
        <div>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="datos-cuerpo-cabecera">
    </div>
    <div class="datos-cuerpo-listado">
        <h1>Configuracion de Enfermedades</h1>
        <div class="tabla-listar">
            <div class="agregar">
                <a href="{% url 'configuracion:enfermedades_agregar' %}">
                    <img src="{% static 'img/agregar.png' %}" alt="agregar" title="agregar">
                </a>

            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Agente Causal</th>
                        <th>Sintoma</th>
                        <th>Tratamiento</th>
                        <th colspan="3">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if listadoEnfermedades %}
                    {% for listadoEnfermedades in listadoEnfermedades%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{listadoEnfermedades.nombre}}</td>
                        <td>{{listadoEnfermedades.descripcion}}</td>
                        <td>{{listadoEnfermedades.agente_causal}}</td>
                        <td>{{listadoEnfermedades.sintoma}}</td>
                        <td>{{listadoEnfermedades.tratamiento}}</td>
                        <td colspan="3"><a href="{% url 'configuracion:enfermedades_editar' listadoEnfermedades.id %}" class=""><img
                                    src="{% static 'img/editar.png' %}" alt="Editar" title="Editar"></a>
                            <a href="{% url 'configuracion:enfermedades_eliminar' listadoEnfermedades.id %}" class=""><img
                                    src="{% static 'img/eliminar.png' %}" alt="Eliminar" title="Eliminar"></a>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <p id="message"></p>
            {% for listadoEnfermedades1 in listadoEnfermedades %}
            <h3>{{ forloop.counter }}) {{ listadoEnfermedades1.nombre }}</h3>
            <p>{{ listadoEnfermedades1.hortelano }} </p>
            <a class="likebutton" id="like{{listadoEnfermedades1.id}}" href="#" data-catid="{{ listadoEnfermedades1.id }}">Like</a>
            {% endfor %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery-ui.min.js"></script>
            <script type="text/javascript">
            $('.likebutton').click(function(){
            var catid;
            catid = $(this).attr("data-catid");
            $.ajax(
            {
                type:"GET",
                url: "/likepost",
                data:{
                         id: catid
                },
                success: function( data ) 
                {
                    $( '#like'+ catid ).remove();
                    $( '#message' ).text(data);
                }
             })
        });

        </script>

        </div>
    </div>
</div>

{% endblock %}  