{% extends "base_nav.html"%}
{% block title %} List. Huertas {% endblock %}
{% load static %}
{% block style %} 
    <link rel='stylesheet' href="{% static 'css/huertas.css' %}" type="text/css">
    <link rel='stylesheet' href="{% static 'css/cultivos.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/cultivos.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
 
{% block body %} 
{% load static %}
<div class="row">
    <div class="alertas">
        {% if messages %}
        {% for message in messages %}
        <div>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="datos-cuerpo-cabecera">
    </div>
    <div class="datos-cuerpo-listado">
        <h1>Configuracion de Cultivos</h1>
        <div id="container">
            <div class="search">
                <div class="searchbox">
                    <label>Buscar:</label>
                    <span class="info">(Puede ser un nombre, nombre cientifico, descripcion)</span>
                    <input id="search_input" type="text" name="q">
                    {% csrf_token %}
                </div>
                <div class="results">
                    <h1 class="error"></h1>
                    <div class="wrapper"></div>
                </div>
            </div>
        </div>
        <div class="tabla-listar">
            <div class="agregar">
                <a href="{% url 'configuracion:cultivo_agregar'  %}" class="btn-agregar">➕</a>
            </div>
            {% if listadoCultivos %}
            {% for listadoCultivos in listadoCultivos%}
                <details >
                    <summary>
                        <span class="cultivo-titulo">
                            {{forloop.counter}} - {{listadoCultivos.nombre}}
                        </span>
                        <span class="acciones">
                            <a href="{% url 'configuracion:cultivo_editar' listadoCultivos.id %}" class="btn-editar">✏️</a>
                            <a href="{% url 'configuracion:cultivo_eliminar' listadoCultivos.id %}" class="btn-eliminar">🗑</a>
                        </span>
                    </summary>
                    <div class="cultivos">
                        <span class="texto">{%if listadoCultivos.descripcion %}  {{listadoCultivos.descripcion}}
                            Pertenece a la familia: {{listadoCultivos.get_familia_display }} 
                            {%endif%} <i> Nombre Cientifico:</i> {{listadoCultivos.nombre_cientifico}}
                        </span>

                        <br><br>
                        <div class="items"> 
                            <div class="items-header">
                                <h2>Variedades</h2>
                                <a href="{% url 'configuracion:variedades_cultivos_agregar' listadoCultivos.id %}" class="btn-agregar-variedad">➕</a>
                            </div>
                            <div class="variedad-grid">
                            {% for variedad in listadoCultivos.variedades.all %}
                                <div class="card-variedad">
                                    <div class="variedad-titulo">
                                        <span class="nombre-variedad">{{ variedad.nombre }}</span>
                                        <div class="acciones">
                                            <a href="{% url 'configuracion:variedades_cultivos_editar' variedad.id %}" class="">✏️</a>
                                            <a href="{% url 'configuracion:variedades_cultivos_eliminar' variedad.id %}" class="">🗑</a>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="variedad-datos">
                                       {% if variedad.imagen %}
                                        <figure class="imagen-variedad">
                                            <img src="{{variedad.imagen.url}}">
                                        </figure>
                                        {% endif %}
                                        <div class="items-header">
                                            <p class="texto"><b>Luz</b></p>
                                            <a href="{% url 'configuracion:luz_variedades_cultivos_agregar' variedad.id %}" class="btn-agregar-variedad">+</a>
                                        </div>  
                                            {% for luz in variedad.luz.all %}
                                                <div class="variedad-texto">
                                                    <p class="texto1">{{luz.desc_corta }} entre: {{luz.valor_minimo}} y {{luz.valor_maximo}} horas</p>{% if not forloop.last %}, {% endif %}
                                                    <div class="acciones">
                                                      <a href="{% url 'configuracion:luz_variedades_cultivos_editar' luz.id %}" >✏️</a>
                                                      <a href="{% url 'configuracion:luz_variedades_cultivos_eliminar' luz.id %}" > 🗑 </a>
                                                  </div>
                                                </div>
                                            {% empty %}
                                               <p class="texto">No se han cargado necesidades</p>
                                            {% endfor %}
                                        <br><br>
                                        <div class="items-header">
                                            <p class="texto"><b>Temperatura</b></p>
                                            <a href="{% url 'configuracion:temperaturas_variedades_cultivos_agregar' variedad.id %}" class="btn-agregar-variedad">+</a>
                                        </div>  
                                        {% for temperatura in variedad.temperatura.all %}
                                                <div class="variedad-texto">
                                                    <p class="texto1">{{temperatura.desc_corta }} entre: {{temperatura.valor_minimo}} y {{temperatura.valor_maximo}} grados</p>{% if not forloop.last %}, {% endif %}
                                                    <div class="acciones">
                                                      <a href="{% url 'configuracion:temperaturas_variedades_cultivos_editar' temperatura.id %}" >✏️</a>
                                                      <a href="{% url 'configuracion:temperaturas_variedades_cultivos_eliminar' temperatura.id %}" > 🗑 </a>
                                                  </div>
                                                </div>
                                            {% empty %}
                                               <p class="texto">No se han cargado necesidades</p>
                                            {% endfor %}

                                        <br><br>
                                        <div class="items-header">
                                            <p class="texto"><b>Fecha de Siembra</b></p>
                                            <a href="{% url 'configuracion:fechas_siembra_variedades_cultivos_agregar' variedad.id %}" class="btn-agregar-variedad">+</a>
                                        </div>  
                                        {% for fecha_siembra in variedad.fecha_siembra.all %}
                                                <div class="variedad-texto">
                                                    <p class="texto1">Desde: {{fecha_siembra}}</p>{% if not forloop.last %}, {% endif %}
                                                    <div class="acciones">
                                                      <a href="{% url 'configuracion:fechas_siembra_variedades_cultivos_editar' fecha_siembra.id %}" >✏️</a>
                                                      <a href="{% url 'configuracion:fechas_siembra_variedades_cultivos_eliminar' fecha_siembra.id %}" > 🗑 </a>
                                                  </div>
                                                </div>
                                            {% empty %}
                                               <p class="texto">No se han cargado necesidades</p>
                                            {% endfor %}

                                        <br><br>
                                        {% if variedad.descripcion %}
                                            <p class="texto"><b>Descripción:</b> {{ variedad.descripcion }}</p>
                                        {% endif %}
                                        </div>
                                    </div>

                                    {% empty %}
                                    <p class="texto">No hay variedades cargadas.</p>
                                {% endfor %}
                            </div>

                        </div>
                        
                        <div class="items">
                            <div class="items-header">
                            <br><br>
                            <H2>Requisitos de suelo</H2>
                        <span>
                            {%if listadoCultivos.tierra %}
                              {{listadoCultivos.tierra.desc_corta}}:
                              {{listadoCultivos.tierra.descripcion}}
                            {%endif%}
                        </span>
                        <br><br>
                        <H2>Requisitos de riego</H2><br>
                        <span></span>
                        <br>
                            <H2>¿Cómo plantar?</H2><br>
                            <span></span>
                            <br>
                            <H2>¿Cuanto tarda?</H2><br>
                            <span></span>
                            <br>
                            <H2>Asociaciones beneficiosas</H2><br>
                            <span></span>
                            <br>
                            <H2>Asociaciones no beneficiosas</H2><br>
                            <span></span>
                            <br>
                            <H2>Plagas y Enfermedades</H2><br>
                            <span></span>
                    </div>
                </details>
            {% endfor %}

            {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(__init);
</script>
{% endblock %}  