{% extends "base_nav.html"%}
{% block title %} List. Huertas {% endblock %}
{% load static %}
{% block style %} 
    <link rel='stylesheet' href="{% static 'css/huertas.css' %}" type="text/css">
    <link rel='stylesheet' href="{% static 'css/cultivos.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/cultivos.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
 
{% block body %} 
{% load static %}
<div class="row">
    <div class="alertas">
        {% if messages %}
        {% for message in messages %}
        <div>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="datos-cuerpo-cabecera">
    </div>
    <div class="datos-cuerpo-listado">
        <h1>Configuracion de Cultivos</h1>
        <div id="container">
            <div class="search">
                <div class="searchbox">
                    <label>Buscar:</label>
                    <span class="info">(Puede ser un nombre, nombre cientifico, descripcion)</span>
                    <input id="search_input" type="text" name="q">
                    {% csrf_token %}
                </div>
                <div class="results">
                    <h1 class="error"></h1>
                    <div class="wrapper"></div>
                </div>
            </div>
        </div>
        <div class="tabla-listar">
            <div class="agregar">
                <a href="{% url 'configuracion:cultivo_agregar'  %}">
                    <img src="{% static 'img/agregar.png' %}" alt="agregar" title="agregar">
                </a>

            </div>

            {% if listadoCultivos %}
            {% for listadoCultivos in listadoCultivos%}
                <details open>
                    <summary>
                        {{forloop.counter}} - {{listadoCultivos.nombre}}
                        <a href="{% url 'configuracion:cultivo_editar' listadoCultivos.id %}" class=""><img
                            src="{% static 'img/editar.png' %}" alt="Editar" title="Editar"></a>
                        <a href="{% url 'configuracion:cultivo_eliminar' listadoCultivos.id %}" class=""><img
                            src="{% static 'img/eliminar.png' %}" alt="Eliminar" title="Eliminar"></a>
                    </summary>
                    <div class="cultivos">
                        <figure>
                            {% if listadoCultivos.imagen %}
                              <img  src="{{ listadoCultivos.imagen.url}}"  >
                            {% endif %}
                            <figcaption>
                                <i> Nombre Cientifico:</i> <b>{{listadoCultivos.nombre_cientifico}}</b>
                            </figcaption>
                        </figure>
                        <div class="descripcion_cultivos">
                            <h2>Descripcion</h2>
                            <span> Pertences a la familia: <b>{{listadoCultivos.get_familia_display }}</b> 
                                {%if listadoCultivos.descripcion %}
                                cuyas caracteristicas son :<b> {{listadoCultivos.descripcion}}</b>
                                {%endif%}
                            </span>
                            <br><br>
                            <H2>Epoca de Siembra</H2>
                            <span></span>
                            <br>

                            <H2>Requisitos de sol y temperatura</H2><br>
                            <span></span>
                            <br>
                            <H2>Requisitos de suelo</H2>
                            <span>
                            {%if listadoCultivos.tierra %}

                              {{listadoCultivos.tierra.desc_corta}}:
                              {{listadoCultivos.tierra.descripcion}}
                            {%endif%}
                            </span>
                            <br><br>
                            <H2>Requisitos de riego</H2><br>
                            <span></span>
                            <br>
                            <H2>¿Cuando plantar?</H2><br>
                            <span></span>
                            <br>
                            <H2>¿Cómo plantar?</H2><br>
                            <span></span>
                            <br>
                            <H2>¿Cuanto tarda?</H2><br>
                            <span></span>
                            <br>
                            <H2>Asociacin beneficiosa</H2><br>
                            <span></span>
                            <br>
                            <H2>Asociacin no beneficiosa</H2><br>
                            <span></span>
                            <br>
                            <H2>Plagas y Enfermedades</H2><br>
                            <span></span>
                            <br>
                            <H2>Variedades</H2><br>
                            <span></span>
                            <br>
                        </div>  
                    </div>
                    </details>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(__init);
</script>
{% endblock %}  