{% extends "base_nav.html"%}
{% block title %} Editar Hortelano {% endblock %}
{% block body %} 
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Hortelano</h2>
        <div class="card">
            <div class="card-body">
                <form action="/configuracion/hortelano_modificar/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="id"></label>
                        <input type="text" name="txtId" id="txtId" value="{{hortelano.id}}" class="form-control" placeholder="id"
                             aria-describedby="helpId" required readonly>
                        <small id="helpId" class="text-muted">Help text</small>
                    <div class="form-group">
                        <label for="Apodo"></label>
                        <input type="text" name="txtApodo" id="txtApodo" value="{{hortelano.apodo}}" class="form-control" placeholder="Apodo"
                            minlength="2" maxlength="60" required aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white ">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}  